{
    "users":
        [
            { "email" : "example@filefucktory.ga", "password" : "", "spacemb" : 1024 },
        ],
    "invites":
        [
            { "email" : "testing@test.com"}
        ]
}